:root {
  /* Brand Colors */
  --color-primary: #222;
  --color-secondary: #c44800;

  /* Background Colors */
  --color-bg: #046A38;
  --color-bg-secondary: #000000;
  --color-bg-accent: rgb(255, 255, 255);
  --color-bg-hover: #ffffffcc;

  /* Text and Border Colors */
  --color-text: rgb(255, 255, 255);
  --color-text-alt: rgb(208, 230, 18);
  --color-text-gray: #6b7280;
  --color-border: rgba(0, 247, 255, 0.06);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', arial, 'Noto Sans', sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 15px;
  --border-radius-sm: 8px;
}
